.container {
    margin: auto;
    margin-top: 65px;
    width: 33%;
}

input,select,option,textarea,.gneder{
    font-size: x-large;
    padding: 8px;
    margin: 10px;
    width: 330px;
    border-radius:10px ;
}
input[type="submit"]{
    font-size: xx-large;
    width: 300px;
    border-radius: 10px;
    border: 0px whitesmoke;  
    background: rgb(203, 198, 198);
    /* background: red; */
    color: rgb(60, 53, 53);
}
input[type="submit"]:hover{
    background: rgb(160, 155, 155);
    /* background: red; */
}

input[type="radio"]{
    margin-top:10px ;
    margin: 10px auto 0 auto;
    width: 20px;
}

.gneder{
    display: flex;
    margin-bottom: 0px;
}