.infoHeader1 {
            
    color: blue;
    text-decoration: underline;
    margin: 5px;
}

.infoHeader2 {

    color: red;
    text-decoration: underline;
    margin: 5px;
}

span {
    color: red;
}
.footer{
    margin-top: 100px;
}
